<h4>My Pairing History</h4>

<% @my_pairing_teams.each do |pairing| %>
  Team name: <%= link_to pairing.name, team_path(pairing) %> <br />
  kind: <%= pairing.kind %> <br />
  on: <%= pairing.begin_from %> <br />
  with: <% pairing.members.each do |m| %>
    <%= m.name if m != current_user %>
  <% end %><br /><br />
<% end %>
