<h1>Listing requests</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><h4><%= link_to request.title.capitalize, request %></h4></td>
        <td><%= link_to 'Edit', edit_request_path(request), class: "button secondary"%></td>
        <td><%= link_to 'Remove', request, method: :delete, data: { confirm: 'Are you sure?' }, class: "button alert"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
