<div class="row">
  <h4>queued requtest place is here</h4>
  <ul>
    <li>Lorem ipsum dolor sit amet, </li>
    <li>consectetur adipiscing elit, sed do tempor</li>
    <li>incididunt ut  et dolore  aliqua. </li>
    <li>Ut enim ad minim veniam, quis nostrud </li>
    <li> ullamco  nisi ut aliquip</li>
  </ul>
  <%= link_to "Create a team", new_team_path, class: "button radius" %>
</div>

<%= render 'teams/current_teams' %>

<%= render 'teams/my_pairs' %>